In [11]:
import pandas as pd

In [ ]:
df = pd.read_excel('pandas_code.xlsx')
df
df.info()
df.describe()
df['수학'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      1000 non-null   object
 1   학교      1000 non-null   object
 2   영어      1000 non-null   int64
 3   수학      1000 non-null   int64
 4   과학      1000 non-null   int64
 5   사회      1000 non-null   int64
 6   sw특기    530 non-null    object
dtypes: int64(4), object(3)
memory usage: 54.8+ KB

count    1000.000000
mean       72.397000
std        16.236595
min        45.000000
25%        59.000000
50%        72.000000
75%        86.000000
max       100.000000
Name: 수학, dtype: float64

In [14]:
df['수학'].min() # 최소값
df['수학'].max() # 최대값
df['수학'].mean() # 평균
df['수학'].std() # 표준편차
df['수학'].nlargest(3) # 최대값 3명 출력
df['수학'].nsmallest(3) # 최소값 3명 출력

18     45
117    45
188    45
Name: 수학, dtype: int64

In [ ]:
df = pd.read_excel('score.xlsx')
df['키'].min()
df['키'].max()
df['키'].mean()
df['키'].nlargest(3) # 기본 : 5명
df['키'].nsmallest(3)
df['국어'].sum()
df['키'].count()
df['SW특기'].count() # 개수 확인
df["학교"].unique() # 중복 제외 확인
df['학교'].nunique() # 중복 제외 개수 확인

np.int64(8)

In [ ]:
# 컬럼에 대한 확인
df['키']
df[['이름','키']] # 2개 이상일 때는 대괄호 2개 [[]]
df['이름'],df['키']

# 모든 컬럼 확인
df.columns
df.columns[0]
df.columns[2:5] # 컬럼 슬라이싱
df.columns[-1]
# 컬럼 데이터 확인 - 제일 마지막 컬럼의 데이터 확인
df['SW특기']
df.columns[-1]

'SW특기'

In [ ]:
df[df.columns[[0,3,-1]]] # 0,3,마지막 컬럼 데이터 확인

    이름   국어        SW특기
0  강나래   90      Python
1  강태원   40        Java
2  강호림   80  Javascript
3  김수찬   40
4  김재욱   15
5  박동현   80           C
6  박혜정   55      Python
7  승근열  100          C#