In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("chipotle.tsv", sep="\t")
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
# item_name 그룹별로 개수확인
# value_count : 전체 item 개수 확인



# df.groupby('item_name')['order_id'].count()
df["item_name"].value_counts().sort_values() # 순차정렬
# df["item_name"].value_counts().sort_values(ascending=False) # 역순정렬
# df["item_name"].value_counts() # 자동정렬

item_name
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Steak Salad                                4
Carnitas Salad Bowl                        6
Burrito                                    6
Veggie Salad                               6
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Chicken Salad                              9
Barbacoa Salad Bowl                       10
Barbacoa Crispy Tacos                     11
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili Corn Salsa        22
Barbacoa Soft Tacos                       25
Nantucket Nectar                          27
Steak Salad Bowl                          29
Chips and Tomatillo-Green Chili Salsa     31
Steak Crispy Tacos                        35
Carnitas Soft Tacos                       40
Chips and Tomatillo Green Chili Salsa     43
Chicken Crispy Tacos                      47
Chips and Tomatillo Red Chili Salsa       48
6 Pack Soft Drink                         54
Steak Soft Tacos                          55
Carnitas Burrito                          59
Barbacoa Bowl                             66
Carnitas Bowl                             68
Veggie Bowl                               85
Barbacoa Burrito                          91
Veggie Burrito                            95
Side of Chips                            101
Canned Soda                              104
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Bottled Water                            162
Chips                                    211
Steak Bowl                               211
Canned Soft Drink                        301
Steak Burrito                            368
Chips and Guacamole                      479
Chicken Burrito                          553
Chicken Bowl                             726
Name: count, dtype: int64

In [ ]:
# items() : item_name, 개수를 튜플 형태로 리턴해줌.

list(df['item_name'].value_counts().items())

[('Chicken Bowl', 726),
 ('Chicken Burrito', 553),
 ('Chips and Guacamole', 479),
 ('Steak Burrito', 368),
 ('Canned Soft Drink', 301),
 ('Chips', 211),
 ('Steak Bowl', 211),
 ('Bottled Water', 162),
 ('Chicken Soft Tacos', 115),
 ('Chips and Fresh Tomato Salsa', 110),
 ('Chicken Salad Bowl', 110),
 ('Canned Soda', 104),
 ('Side of Chips', 101),
 ('Veggie Burrito', 95),
 ('Barbacoa Burrito', 91),
 ('Veggie Bowl', 85),
 ('Carnitas Bowl', 68),
 ('Barbacoa Bowl', 66),
 ('Carnitas Burrito', 59),
 ('Steak Soft Tacos', 55),
 ('6 Pack Soft Drink', 54),
 ('Chips and Tomatillo Red Chili Salsa', 48),
 ('Chicken Crispy Tacos', 47),
 ('Chips and Tomatillo Green Chili Salsa', 43),
 ('Carnitas Soft Tacos', 40),
 ('Steak Crispy Tacos', 35),
 ('Chips and Tomatillo-Green Chili Salsa', 31),
 ('Steak Salad Bowl', 29),
 ('Nantucket Nectar', 27),
 ('Barbacoa Soft Tacos', 25),
 ('Chips and Roasted Chili Corn Salsa', 22),
 ('Izze', 20),
 ('Chips and Tomatillo-Red Chili Salsa', 20),
 ('Veggie Salad Bowl', 18),
 ('Chips and Roasted Chili-Corn Salsa', 18),
 ('Barbacoa Crispy Tacos', 11),
 ('Barbacoa Salad Bowl', 10),
 ('Chicken Salad', 9),
 ('Veggie Soft Tacos', 7),
 ('Carnitas Crispy Tacos', 7),
 ('Burrito', 6),
 ('Carnitas Salad Bowl', 6),
 ('Veggie Salad', 6),
 ('Steak Salad', 4),
 ('Crispy Tacos', 2),
 ('Bowl', 2),
 ('Salad', 2),
 ('Chips and Mild Fresh Tomato Salsa', 1),
 ('Veggie Crispy Tacos', 1),
 ('Carnitas Salad', 1)]

In [ ]:
df["item_name"].value_counts().index[0] # 첫번째 리스트의 제목을 출력
df["item_name"].value_counts().index[1]

'Chicken Burrito'

In [33]:
df.groupby("item_name")['quantity'].sum().loc['Chicken Bowl']
df[df['item_name']=='Chicken Bowl']['quantity'].sum()
df.groupby('item_name')['quantity'].sum().sort_values('quantity',ascending=False)

TypeError: Series.sort_values() takes 1 positional argument but 2 positional arguments (and 1 keyword-only argument) were given

In [77]:
## 주문 평균 금액을 체크
## 1. item_price -> float 변환
## 2. order_id 그룹화
## 3. order_id로 합계를 낸 후 평균을 해야 함
# df['item_price'] = df['item_price'].str[1:].astype(float)
# df["item_price"] = df["item_price"].str.replace("$","").astype(float)
df.groupby('order_id')['item_price'].sum().mean()

np.float64(18.811428571428568)

In [101]:
# 각 아이템별 가격을 구하시오
# 주문이 1개인 메뉴를 먼저 출력하시오
# 순차정렬하시오
df
filt = df['quantity'] == 1
df[filt].groupby("item_name")[['item_price']].min().sort_values('item_price').count()

item_price    50
dtype: int64

In [ ]:
# 한 주문당 20달러 이상 주문한 order_id를 출력하시오
# df['item_price'] = df['item_price'].str[1:].astype(float)
df_s = df.groupby("order_id").sum()["item_price"].sort_values(ascending=False)
filt = df_s>=20
df_s[filt]

order_id
926     205.25
1443    160.74
1483    139.00
691     118.25
1786    114.30
         ...
1113     20.00
1544     20.00
1805     20.00
1222     20.00
940      20.00
Name: item_price, Length: 589, dtype: float64

In [ ]:
## Veggie Salad Bowl
filt = df["item_name"] == "Veggie Salad Bowl"
df[filt].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [ ]:
## Chicken Salad Bowl 몇개 주문되었는지 출력하시오.(주문 총수량)
# df.groupby('item_name')['quantity'].count().loc['Chicken Salad Bowl']
df[df["item_name"] == "Chicken Salad Bowl"]['quantity'].sum() # 123
df[df["item_name"] == "Chicken Salad Bowl"]['quantity'].count() # 110

np.int64(110)

In [ ]:
## Chicken Salad Bowl 2개 이상 주문한 횟수
# filt = (df["item_name"] == "Chicken Bowl") & (df["quantity"] >= 2)
# df[filt][['quantity','item_name']].sort_values('quantity',ascending=False).count()
filt = df["item_name"] == "Chicken Bowl"
df[filt][["quantity", "item_name"]].sort_values("quantity", ascending=False).count()
df[filt]["quantity"].count() # 726
df[filt]["quantity"].sum() # 761

np.int64(761)

In [ ]:
df['item_name'].value_counts()

filt = df["item_name"] == "Chicken Bowl"
df[filt]["quantity"].count()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64