In [ ]:
import pandas as pd

# dict타입으로 구성해서 2차원 데이터로 변환
data = {
    "이름": [
        "강나래",
        "강태원",
        "강호림",
        "김수찬",
        "김재욱",
        "박동현",
        "박혜정",
        "승근열",
    ],
    "학교": [
        "구로고",
        "구로고",
        "가산고",
        "구로고",
        "가산고",
        "가산고",
        "구로고",
        "구로고",
    ],
    "키": [197, 184, 168, 187, 188, 202, 188, 190],
    "국어": [90, 40, 80, 40, 15, 80, 55, 100],
    "영어": [85, 35, 75, 60, 20, 100, 65, 85],
    "수학": [100, 50, 70, 70, 10, 95, 45, 90],
    "사회": [85, 25, 75, 80, 10, 80, 35, 95],
    "SW특기": ["Python", "Java", "Javascript", " ", " ", "C", "Python", "C#"],
}

[197, 184, 168, 187, 188, 202, 188, 190]

In [11]:
data
data['SW특기']

['Python', 'Java', 'Javascript', ' ', ' ', 'C', 'Python', 'C#']

In [ ]:
df = pd.DataFrame(data) # dic타입을 입력하면 DataFrame 타입으로 변경
df
df['키']
df[['이름','국어','키']] # 3개 컬럼 출력 : [[]] 대괄호 2번 사용

    이름   국어    키
0  강나래   90  197
1  강태원   40  184
2  강호림   80  168
3  김수찬   40  187
4  김재욱   15  188
5  박동현   80  202
6  박혜정   55  188
7  승근열  100  190

In [ ]:
# 컬럼 이름을 모두 확인
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '사회', 'SW특기'], dtype='object')

In [24]:
df = pd.DataFrame(data,columns=['SW특기','학교','이름'])
df

         SW특기   학교   이름
0      Python  구로고  강나래
1        Java  구로고  강태원
2  Javascript  가산고  강호림
3              구로고  김수찬
4              가산고  김재욱
5           C  가산고  박동현
6      Python  구로고  박혜정
7          C#  구로고  승근열