In [14]:
import pandas as pd
temp = pd.Series([-20, -10, 10, 20])
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [15]:
temp[0]

np.int64(-20)

In [16]:
temp[2]

np.int64(10)

In [17]:
temp[0]

np.int64(-20)

In [18]:
temp[2]

np.int64(10)

In [19]:
# index : 인덱스(키)의 값 설정
temp = pd.Series([-20,-10,10,20],index=['1월','2월','3월','4월'])
print(temp)

1월   -20
2월   -10
3월    10
4월    20
dtype: int64

In [ ]:
# Series 에서 index 값을 사용해서 값 출력
temp['1월']

np.int64(-20)

pandas에서 1차원 Series,index 설정