In [1]:
import pandas as pd
import numpy as np

In [ ]:
# 컬럼 2개 구성 - 가중치1, 가중치2
# 전체 가중치1 컬럼 (사망+부상)*1.1
# 2014년 사망,부상 가중치2 (사망+부상)*1.2
# 2015년 사망,부상 가중치2 (사망+부상)*1.5
# 2015년 사망,부상 가중치2 (사망+부상)*1.3
df1 = pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr')
df2 = pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr')
df3 = pd.read_csv('2016년졸음운전교통사고.csv',encoding='euc-kr')
df = pd.concat([df1,df2,df3])
df
df['가중치1'] = 0
df['가중치1'] = df['사망(명)']+df['부상(명)']
df['가중치2'] = 0
# 조건식 2014년에 해당되는 조건식 구성
filt1 = df['구분'].str[0:4] == '2014'
filt2 = df['구분'].str[0:4] == '2015'
filt3 = df['구분'].str[0:4] == '2016'
# 2014에 해당되는 가중치2 계산해서 데이터 수정
df.loc[filt1,'가중치2'] = (df.loc[filt1,'사망(명)']+df.loc[filt1,'부상(명)'])*1.2
df.loc[filt2,'가중치2'] = (df.loc[filt2,'사망(명)']+df.loc[filt2,'부상(명)'])*1.5
df.loc[filt3,'가중치2'] = (df.loc[filt3,'사망(명)']+df.loc[filt3,'부상(명)'])*1.3
# df.loc[filt1,'가중치2'] = df['사망(명)']+df['부상(명)']*1.2
# df.loc[filt2,'가중치2'] = df['사망(명)']+df['부상(명)']*1.5
# df.loc[filt3,'가중치2'] = df['사망(명)']+df['부상(명)']*1.3

<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, 0 to 11
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      36 non-null     object
 1   사고(건)   36 non-null     int64
 2   사망(명)   36 non-null     int64
 3   부상(명)   36 non-null     int64
 4   가중치1    36 non-null     int64
 5   가중치2    36 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.0+ KB

C:\Users\kosmo\AppData\Local\Temp\ipykernel_12340\1247104102.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[424.8 325.2 444.  436.8 589.2 564.  534.  547.2 534.  487.2 475.2 409.2]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[filt1,'가중치2'] = (df.loc[filt1,'사망(명)']+df.loc[filt1,'부상(명)'])*1.2

          구분  사고(건)  사망(명)  부상(명)  가중치1   가중치2
0    2014년1월    169      7    347   354  424.8
1    2014년2월    145      3    268   271  325.2
2    2014년3월    206     12    358   370  444.0
3    2014년4월    182      4    360   364  436.8
4    2014년5월    218     17    474   491  589.2
5    2014년6월    233     13    457   470  564.0
6    2014년7월    229     14    431   445  534.0
7    2014년8월    222      9    447   456  547.2
8    2014년9월    225     15    430   445  534.0
9   2014년10월    210     14    392   406  487.2
10  2014년11월    209     10    386   396  475.2
11  2014년12월    178     12    329   341  409.2
0    2015년1월    205      8    375   383  574.5
1    2015년2월    175      8    375   383  574.5
2    2015년3월    237      4    492   496  744.0
3    2015년4월    227     10    486   496  744.0
4    2015년5월    231      9    504   513  769.5
5    2015년6월    207      8    401   409  613.5
6    2015년7월    273      7    556   563  844.5
7    2015년8월    268     19    534   553  829.5
8    2015년9월    252     10    501   511  766.5
9   2015년10월    214     14    475   489  733.5
10  2015년11월    199      3    398   401  601.5
11  2015년12월    213      8    428   436  654.0
0    2016년1월    192      5    387   392  509.6
1    2016년2월    174      6    328   334  434.2
2    2016년3월    217      7    435   442  574.6
3    2016년4월    216      7    419   426  553.8
4    2016년5월    239     13    522   535  695.5
5    2016년6월    200     12    362   374  486.2
6    2016년7월    227      9    460   469  609.7
7    2016년8월    230      7    490   497  646.1
8    2016년9월    187     13    347   360  468.0
9   2016년10월    183     10    367   377  490.1
10  2016년11월    200      5    418   423  549.9
11  2016년12월    168      4    364   368  478.4

12.153403