In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("score.xlsx", index_col="지원번호")
df

# 학교 구로고 > 가산고, 디지털고 > 단지고로 변경
# 4번 sw특기를 Django로 변경
# 5번 sw특기를 python 변경
# SW특기 소문자로 변경
# 합계컬럼 추가
# 결과컬럼 추가해서 270 이상은 Pass, 아니면 fail

df['학교'].rename({"구로고":"가산고","디지털고":"단지고"})
df.loc[['4번','5번'],'SW특기'] = ['Django','python']
df['SW특기'] = df['SW특기'].str.lower()
df['합계'] = 0
df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['결과'] = 'Fail'
df.loc[df['합계'] >=270,"결과"] = 'Pass'
df['학교']=df['학교']+'등학교'

# 문자열 = 문자열+문자열
df

       이름       학교    키   국어   영어   수학  과학  사회        SW특기   합계    결과
지원번호
1번    강나래   구로고등학교  197   90   85  100  95  85      python  455  Pass
2번    강태원   구로고등학교  184   40   35   50  55  25        java  205  Fail
3번    강호림   구로고등학교  168   80   75   70  80  75  javascript  380  Pass
4번    김수찬   구로고등학교  187   40   60   70  75  80      django  325  Pass
5번    김재욱   구로고등학교  188   15   20   10  35  10      python   90  Fail
6번    박동현  디지털고등학교  202   80  100   95  85  80           c  440  Pass
7번    박혜정  디지털고등학교  188   55   65   45  40  35      python  240  Fail
8번    승근열  디지털고등학교  190  100   85   90  95  95          c#  465  Pass